.taskBox {
    width: 46rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding: 1rem;
    background: var(--gray-500);
    border-radius: 8px;
}

.taskBox + .taskBox {
    margin-top: 0.75rem;
}

.taskBox span {
    width: 39.5rem;
}

.taskIncomplete {
    color: var(--gray-100);
}

.taskComplete {
    color: var(--gray-300);
    text-decoration: line-through;
}

.unchecked {
    background: transparent;
    border: 0;
    color: var(--blue-300);
    cursor: pointer;
    line-height: 0;
    border-radius: 2px;
    transition: color 0.1s;
}

.unchecked:hover {
    color: var(--blue-500);
}

.checked {
    background: var(--purple-500);
    color: var(--white);
    border: 0;
    cursor: pointer;
    line-height: 0;
    border-radius: 1rem;
    transition: color 0.1s;
}

.checked circle {
    color: var(--purple-500);
}

.checked:hover {
    background: var(--purple-300);
}

.checked:hover circle {
    color: var(--purple-300);
}

.delete {
    background: transparent;
    color: var(--gray-300);
    border: 0;
    cursor: pointer;
    padding: 0.2rem;
    line-height: 0;
    border-radius: 8px;
    transition: color 0.1s;
}

.delete:hover {
    color: var(--red-500);
    background: var(--gray-400);
}